@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700");

* {
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
}

.user-list {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.user {
	text-align: center;
	background: white;
	border-radius: 10px;
	margin: 10px 0;
	padding: 10px 0;
	width: 400px;
	box-shadow: 0px 0px 74px 0px rgba(0, 0, 0, 0.08);
}

.user h1 {
	font-size: 24px;
	font-weight: 800;
	padding: 10px 0;
}

.user p {
	padding: 10px 0;
}

.delete {
	background: red;
	border: none;
	position: relative;
	left: 40%;
	border-radius: 50%;
	width: 30px;
	height: 30px;
}
